<template>
  <div class="ion-page">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="contact" />
        </ion-buttons>
        <h1 class="ion-text-center">{{ $t('Contact.audio-title') }}</h1>
      </ion-toolbar>
    </ion-header>
    <ion-content no-bounce>
      <ion-label position="floating" class="title-audio">{{ $t('Audio.audio-question') }}</ion-label>
      <recorder
        upload-url="https://api.test.mobicoop.io/"
        :time="1"
      />
    </ion-content>
  </div>
</template>

<script>
import { toast } from '../../Shared/Mixin/toast.mixin'


export default {
  name: 'Audio',
  mixins: [toast],
  props: [],
  data() {
    return {}
  },
  created() { },
}
</script>

<style lang="scss" scoped>
.title-audio {
  color: var(--ion-color-dark) !important;
  font-size: large;
  font-weight: bold;
  padding-left: 16px;
  padding-bottom: 16px;
}
</style>
