<template>
	<ion-vue-router />
</template>

<style lang="scss">
	@import './SolidaryTransport.style.scss';
</style>

<script>
export default {
  name: 'solidaryTransport',
  data () {
    return {}
  },
  created: function () {}
}
</script>
