<template>
  <ion-page>
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="homeDriver" />
        </ion-buttons>
        <h1 class="ion-text-center">{{ $t('DriverAvailability.title') }}</h1>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="mpa-range">
        <ion-label color="primary">{{ $t('DriverAvailability.morning') }}</ion-label>
        <ion-range
          id="morning-range"
          class="mc-st-form-range"
          :min="volunteer.mMin"
          :max="volunteer.mMax"
          dual-knobs="true"
          pin="true"
          snaps="true"
          ticks="false"
          color="primary"
          debounce="200"
          @ionChange="changeRange($event, 'm')"
        >
          <ion-label slot="start" color="primary">{{ volunteer.mMin }}h</ion-label>
          <ion-label slot="end" color="primary">{{ volunteer.mMax }}h</ion-label>
        </ion-range>

        <ion-label class="mc-st-form-label as-intro no-white-space" color="primary">{{ $t('solidaryTransport.volunteer.form.fields.availabilities.ranges.afternoon') }}</ion-label>
        <ion-range
          id="afternoon-range"
          class="mc-st-form-range"
          :min="volunteer.aMin"
          :max="volunteer.aMax"
          dual-knobs="true"
          pin="true"
          snaps="true"
          ticks="false"
          color="primary"
          debounce="200"
          @ionChange="changeRange($event, 'a')"
        >
          <ion-label slot="start" color="primary">{{ volunteer.aMin }}h</ion-label>
          <ion-label slot="end" color="primary">{{ volunteer.aMax }}h</ion-label>
        </ion-range>

        <ion-label class="mc-st-form-label as-intro no-white-space" color="primary">{{ $t('solidaryTransport.volunteer.form.fields.availabilities.ranges.evening') }}</ion-label>
        <ion-range
          id="evening-range"
          class="mc-st-form-range"
          :min="volunteer.eMin"
          :max="volunteer.eMax"
          dual-knobs="true"
          pin="true"
          snaps="true"
          ticks="false"
          color="primary"
          debounce="200"
          @ionChange="changeRange($event, 'e')"
        >
          <ion-label slot="start" color="primary">{{ volunteer.eMin }}h</ion-label>
          <ion-label slot="end" color="primary">{{ volunteer.eMax }}h</ion-label>
        </ion-range>
      </div>

      <ion-label class="mc-st-form-label as-intro no-white-space" color="primary">{{ $t('DriverAvailability.morningAvailable') }} ({{ volunteer.mMinTime }}h-{{ volunteer.mMaxTime }}h)</ion-label>
      <div>
        <ion-button v-for="(day) in availabilitiesDays"
                    :key="day.value"
                    class="mc-st-form-day"
                    :color="volunteer[`m${day.value}`] ? 'primary' : 'light'"
                    @click="updateDay(`m${day.value}`)"
        >
          <span class="label">{{ day.label }}</span>
        </ion-button>
      </div>

      <ion-label class="mc-st-form-label as-intro no-white-space" color="primary">{{ $t('DriverAvailability.afternoonAvailable') }} ({{ volunteer.aMinTime }}h-{{ volunteer.aMaxTime }}h)</ion-label>
      <div>
        <ion-button v-for="(day) in availabilitiesDays"
                    :key="day.value"
                    class="mc-st-form-day"
                    :color="volunteer[`a${day.value}`] ? 'primary' : 'light'"
                    @click="updateDay( `a${day.value}`)"
        >
          <span class="label">{{ day.label }}</span>
        </ion-button>
      </div>

      <ion-label class="mc-st-form-label as-intro no-white-space" color="primary">{{ $t('DriverAvailability.eveningAvailable') }} ({{ volunteer.eMinTime }}h-{{ volunteer.eMaxTime }}h)</ion-label>
      <div>
        <ion-button v-for="day in availabilitiesDays"
                    :key="day.value"
                    class="mc-st-form-day"
                    :color="volunteer[ `e${day.value}`] ? 'primary' : 'light'"
                    @click="updateDay(`e${day.value}`)"
        >
          <span class="label">{{ day.label }}</span>
        </ion-button>
      </div>

      <div class="mpa-confirm-button">
        <ion-button class="big-button"
                    color="primary"
                    @click="validate()"
        >
          {{ $t('DriverAvailability.confirm') }}
        </ion-button>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
export default {
  name: 'DriverDisponibility',
  data() {
    return {
      availabilitiesDays: [
        { label: 'Lun', value: 'Mon' },
        { label: 'Mar', value: 'Tue' },
        { label: 'Mer', value: 'Wed' },
        { label: 'Jeu', value: 'Thu' },
        { label: 'Ven', value: 'Fri' },
        { label: 'Sam', value: 'Sat' },
        { label: 'Dim', value: 'Sun' },
      ]
    }
  },
  computed: {
    volunteer: {
      get() {
        return this.$store.state.solidaryTransportStore.volunteer;
      }
    }
  },
  created () {

  },
  mounted() {
    const morningRange = document.querySelector('#morning-range');
    const afternoonRange = document.querySelector('#afternoon-range');
    const eveningRange = document.querySelector('#evening-range');
    morningRange.value = { lower: this.volunteer.mMinTime, upper: this.volunteer.mMaxTime }
    afternoonRange.value = { lower: this.volunteer.aMinTime, upper: this.volunteer.aMaxTime }
    eveningRange.value = { lower: this.volunteer.eMinTime, upper: this.volunteer.eMaxTime }
  },
  methods: {
    changeRange($event, type) {
      let min = type + 'MinTime';
      let max = type + 'MaxTime'
      this.$store.state.solidaryTransportStore.volunteer[ min ] = $event.detail.value.lower
      this.$store.state.solidaryTransportStore.volunteer[ max ] = $event.detail.value.upper
    },
    updateDay(day) {
      this.$store.state.solidaryTransportStore.volunteer[ day ] = !this.$store.state.solidaryTransportStore.volunteer[ day ]
    },
    validate() {
      //this.$store.dispatch("postSolidaryVolunteer");
      this.$router.push("homeDriver");
    }
  }
}
</script>

<style scoped>
.mpa-range {
  font-size: large;
  padding-top: 12px;
  padding-left: 12px;
}
.mpa-confirm-button {
  padding-top: 16px;
  text-align: center;
}
</style>
