<template>
  <ion-page>
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-buttons slot="start"> 
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <h1 text-center>{{ $t('solidaryTransport.register.title') }}</h1>
      </ion-toolbar>
    </ion-header>

    <ion-content color="primary" class="is-scrollable">
      <div class="mc-st-container">
        <div class="mc-st-form">
           <img v-if="!noIconToolbar" class="background-img ion-margin-end" src="/assets/home.png" alt="" />

          <div class="mc-st-form-content">
            <div class="mc-st-form-actions is-active">
              <ion-button class="mc-st-form-action" color="primary" v-html="$t('BlockAction.drivers.button')" @click="$router.push({name:'solidaryTransport.home.volunteer'})"></ion-button>

              <div v-if="askRide" class="mc-st-form-other">{{$t('solidaryTransport.register.form.actions.or')}}</div>

              <ion-button v-if="askRide" class="mc-st-form-action" color="primary" v-html="$t('BlockAction.beneficiary.button')" @click="$router.push({name:'solidaryTransport.home.request'})"></ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<style lang="scss">

</style>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'solidaryTransport.register',
  components: {},
  data () {
    return {
      askRide: JSON.parse(process.env.VUE_APP_SOLIDARY_ASK_RIDE),
      updating: false,
      buttons: {
        fill: {
          active: this.$route.query.type !== undefined
        }
      }
    }
  },
  computed: {
    user: {
      get() {
        return this.$store.state.solidaryTransportStore.register.user;
      }
    }
  },
  methods: {},
  created: function () {}
}
</script>
