<template>
  <div class="ion-page">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button default-href="profile" />
        </ion-buttons>
        <h1 class="ion-text-center">{{ $t('HOMEPA.searchCarpool') }}</h1>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary" no-bounce>
      <div class="mc-white-container">
        <SearchQuick/>
      </div>
    </ion-content>
  </div>
</template>

<script>
import { swap } from "ionicons/icons";
import { addIcons } from "ionicons";
import SearchQuick from "../../Shared/Components/SearchQuick.component";
addIcons({
  "ios-swap": swap.ios,
  "md-swap": swap.md,
});

export default {
  name: "SearchCarpool",
    components: {
    SearchQuick
  },
  data() {
    return {
    };
  },
  computed: {
   
  },
  methods: {
  }
};
</script>

