<template>
  <div class="ion-page">
  <ion-content no-bounce class="mc-carpool-recorder">
    <div class="mc-white-container">
    <ion-button
      class="mc-big-button"
      color="primary"
      fill="outline"
      expand="block"
      @click="toggleRecorder()"
    >
      <ion-icon name="mic" class="ion-padding-end" />
      {{ !isRecording || (isRecording && isPause) ? $t('Contact.audio-start') : $t('Contact.audio-pause') }}
    </ion-button>
    <ion-button
      name=""
      class="mc-big-button"
      color="primary"
      fill="outline"
      expand="block"
      @click="stopRecorder()"
    >
      <ion-icon name="square" class="ion-padding-end" />
      {{ $t('Contact.audio-end') }}
    </ion-button>
    <div class="audio-infos-container">
      <div class="infos__time">{{ recordedTime }}</div>
      <div v-if="time" class="infos">{{ $t('Contact.audio-maximum') }} {{ time }} min</div>
    </div>

    <!-- Audio affiché -->
    <div class="records">
      <div
        v-for="(record, idx) in recordList"
        :key="record.id"
        class="records__record"
        :class="{'ar-records__record--selected': record.id === selected.id}"
        @click="choiceRecord(record)"
      >
        <div v-if="record.id === selected.id" class="ar__rm" @click="removeRecord(idx)">&times;</div>
        <div class="ar__text">Record {{ idx + 1 }}</div>
        <div class="ar__text">{{ record.duration }}</div>
      </div>
    </div>
    <div v-if="recordList.length > 0">
      <uploader
        class="uploader"
        :record="recordList[0]"
        :filename="filename"
        :headers="headers"
        :upload-url="uploadUrl"
      />
      <audio-player
        class="player"
        :record="recordList[0]"
      />
    </div>
    </div>
  </ion-content>
  </div>
</template>

<script>
import AudioPlayer from './player'
import Recorder    from '../lib/recorder'
import Uploader    from './uploader'
import UploaderPropsMixin from '../mixins/uploader-props'
import { convertTimeMMSS }  from '../lib/utils'

import { square } from "ionicons/icons";
import { addIcons } from "ionicons";
addIcons({
  "md-square": square.md,
  "ios-square": square.ios
});
export default {
  components: {
    AudioPlayer,
    Uploader
  },
  mixins: [UploaderPropsMixin],
  props: {
    time     : { type: Number, default: 0 },

    showUploadButton   : { type: Boolean, default: true },

    micFailed        : { type: Function, default: () => {} },
    beforeRecording  : { type: Function, default: () => {} },
    pauseRecording   : { type: Function, default: () => {} },
    afterRecording   : { type: Function, default: () => {} },
    failedUpload     : { type: Function, default: () => {} },
    beforeUpload     : { type: Function, default: () => {} },
    successfulUpload : { type: Function, default: () => {} },
    selectRecord     : { type: Function, default: () => {} }
  },
  data () {
    return {
      isUploading   : false,
      recorder      : this._initRecorder(),
      recordList    : [],
      selected      : {},
      uploadStatus  : null,
    }
  },
  computed: {
    isPause () {
      return this.recorder.isPause
    },
    isRecording () {
      return this.recorder.isRecording
    },
    recordedTime () {
      if (this.time && this.recorder.duration >= this.time * 60) {
        this.stopRecorder()
      }
      return convertTimeMMSS(this.recorder.duration)
    },
    volume () {
      return parseFloat(this.recorder.volume)
    }
  },
  mounted () {
    this.$eventBus.$on('start-upload', () => {
      this.isUploading = true
      this.beforeUpload && this.beforeUpload('before upload')
    })

    this.$eventBus.$on('end-upload', (msg) => {
      this.isUploading = false

      if (msg.status === 'success') {
        this.successfulUpload && this.successfulUpload(msg.response)
      } else {
        this.failedUpload && this.failedUpload(msg.response)
      }
    })
  },
  beforeDestroy () {
    this.stopRecorder()
  },
  methods: {
    toggleRecorder () {
      if (!this.isRecording || (this.isRecording && this.isPause)) {
        this.recorder.start()
      } else {
        this.recorder.pause()
      }
    },
    stopRecorder () {
      if (!this.isRecording) {
        return
      }

      this.recorder.stop()
      this.recordList = this.recorder.recordList()
    },
    removeRecord (idx) {
      this.recordList.splice(idx, 1)
      this.$set(this.selected, 'url', null)
      this.$eventBus.$emit('remove-record')
    },
    choiceRecord (record) {
      if (this.selected === record) {
        return
      }
      this.selected = record
      this.selectRecord && this.selectRecord(record)
    },
    _initRecorder () {
      return new Recorder({
        beforeRecording : this.beforeRecording,
        afterRecording  : this.afterRecording,
        pauseRecording  : this.pauseRecording,
        micFailed       : this.micFailed
      })
    }
  }
}
</script>

<style lang="scss">
.mc-carpool-contact {
  ion-item {
    margin-bottom: 20px;
  }

  ion-textarea {
    border: 1px solid var(--ion-color-primary);
    border-radius: 20px;
    padding: 10px;
  }

  .mc-contact-rgpd {
    font-size: small;
    font-style: italic;

    .link {
      color: var(--ion-color-warning);
    }
  }
}
.audio-infos-container {
  width: 100%;
}

.infos {
  display: table;
  margin: 0 auto;
  font-size: large;
  padding-bottom: 10px;

  &__time {
    display: table;
    margin: 0 auto;
    font-weight: bold;
    font-size: xx-large !important;
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

.records {
  height: 50px;
  padding-top: 1px;
  overflow-y: auto;
  margin-bottom: 20px;

  &__record {
    width: 320px;
    height: 45px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    position: relative;
  }
}

.uploader {
  display: table;
  margin: 0 auto;
}

.player {
  padding-top: 15px;
}
</style>

