<template>
  <ion-button class="mc-small-button" color="primary" @click="upload()">{{ $t("Audio.upload") }}</ion-button>
</template>

<script>
import UploaderPropsMixin from '../mixins/uploader-props'

export default {
  mixins: [UploaderPropsMixin],
  props: {
    record: { type: Object, default: null }
  },
  methods: {
    upload () {
      if (!this.record.url) {
        return
      }

      this.$eventBus.$emit('start-upload')

      const data = new FormData()
      data.append('audio', this.record.blob, `${this.filename}.mp3`)

      const headers = Object.assign(this.headers, {})
      headers['Content-Type'] = `multipart/form-data; boundary=${data._boundary}`

      this.$store.dispatch('upload', {data, headers})
        .then(res => {
          this.presentToast("Votre message à bien été envoyé", 'success');
        })
        .catch(err => {
          this.presentToast("Une erreur est survenue", 'danger')
        })
    }
  }
}
</script>

<style lang="scss">
</style>
