<template>
  <div class="ion-page">
    <ion-header no-border>
      <ion-toolbar color="primary">
        <div class="mc-home-header">
          <div class="mc-home-log">
            <img v-if="!noIconToolbar" class="background-img ion-margin-end" src="/assets/home.png" alt="" />
            <h1  v-if="!noTextToolbar">{{ title }}</h1>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
            <UserHome />
      <div class="mc-white-container">
         <BlockAction
          :action="'economie'"
          :color="'rgba('+ primary+ ', 1)'"
          :colorBg="'rgba('+ primary+ ', 0.4)'"
          :icon="'information-circle-outline'"
          @clickButton="goToWebsite()"
        />
        <BlockAction
          :action="'DriverHelp'"
          :color="'rgba('+ primary+ ', 1)'"
          :colorBg="'rgba('+ primary+ ', 0.4)'"
          :secondButton="true"
          :icon="'car'"
          :icon2="'book'"
          @clickButton="goToPostCarpool"
          @clickSecondButton="goToDisponibilities"
        />
        <ion-button
          class="mc-big-button"
          color="primary"
          expand="block"
          fill="outline"
          v-on:click="redirectToCGU()"
        >
          <ion-icon name="document" class="ion-padding-end"></ion-icon>
          {{ $t('HOME.CGU') }}
        </ion-button>

        <ion-button
          class="mc-big-button"
          color="primary"
          expand="block"
          fill="outline"
          v-on:click="redirectToContact()"
        >
          <ion-icon name="chatboxes" class="ion-padding-end"></ion-icon>
          {{ $t('HOME.contact') }}
        </ion-button>
      </div>
    </ion-content>
  </div>
</template>

<style lang="scss">
.mc-container {
  padding: 30px;
  background-image: url("/assets/banner.png");
  background-repeat: no-repeat;
  // background-size: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: -10px;
}

.mc-download-app {
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  padding: 20px;
  background: rgba(var(--ion-color-primary-rgb), 0.4);

  p {
    margin: 0px;
    margin-bottom: 20px;
  }
}

.partner-img {
  width: 75%;
  object-fit: contain;
  // max-height: 100px;
}

.mc-home-header {
  .mc-home-log {
    display: flex;
    align-items: center;

    img {
      // width: 26px;
      height: 36px;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    h1 {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  }
}
</style>

<script>
import BlockAction from "../../Home/Components/BlockAction.component";
import UserHome from "../../Home/Components/UserHome.component";

export default {
  name: 'HomeDriver',
  components: {
    UserHome,
    BlockAction,
  },
  data() {
    return {
      primary: "",
      title: process.env.VUE_APP_NAME,
      noIconToolbar: JSON.parse(process.env.VUE_APP_NO_ICON_TOOLBAR),
      noTextToolbar: JSON.parse(process.env.VUE_APP_NO_TEXT_TOOLBAR)
    };
  },
  created() {
    this.primary = window
      .getComputedStyle(document.body)
      .getPropertyValue("--ion-color-primary-rgb");
  },
  methods: {
    goToDisponibilities() {
      this.$router.push('disponibility')
    },
    goToPostCarpool() {
      this.$router.push('post-carpool')
    },
    goToWebsite(){
      window.location.href = 'https://mobipa.univ-grenoble-alpes.fr/';
    },
    redirectToCGU: function() {
      this.$router.push({
        name: "article",
        params: { id: 1 }
      });
    },

    redirectToContact: function() {
      this.$router.push({ name: "carpool-contact" });
    }
  }
}
</script>
